@font-face {
  font-family: "Savoye LET";
  src: url("../fonts/Savoye_LET.ttc");
  src: url("../fonts/Savoye_LET.ttf"); }

body {
  padding: 5rem; }
  @media screen and (max-width: 900px) {
    body {
      padding: 3rem; } }
  @media screen and (max-width: 750px) {
    body {
      padding: 1rem; } }

img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto; }

.secondary-heading {
  font-family: "Savoye Let";
  color: #662d91;
  font-size: 3rem;
  text-align: center;
  font-weight: normal; }
  @media screen and (max-width: 1350px) {
    .secondary-heading {
      font-size: 2.5rem;
      margin: 1rem 0; } }
  @media screen and (max-width: 1100px) {
    .secondary-heading {
      font-size: 2rem; } }
  @media screen and (max-width: 750px) {
    .secondary-heading {
      font-size: 1.7rem; } }
  @media screen and (max-width: 450px) {
    .secondary-heading {
      font-size: 1rem; } }

.tablets {
  display: none; }
  @media screen and (max-width: 900px) {
    .tablets {
      display: unset; } }

.chrome {
  display: none; }
  @supports (shape-outside: polygon(0 0)) {
    .chrome {
      display: unset; } }

.firefox {
  display: none; }
  @supports not (shape-outside: polygon(0 0)) {
    .firefox {
      display: unset; } }

.about {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  text-align: justify;
  border-width: 5px;
  border-style: solid;
  border-image: linear-gradient(to right bottom, #9c70bf, #662d91, #3b0961) 1 1; }
  @media screen and (min-width: 1800px) {
    .about {
      font-size: 1.5rem; } }
  @media screen and (max-width: 1200px) {
    .about {
      font-size: 1rem; } }
  @media screen and (max-width: 900px) {
    .about {
      padding: 0.9rem; } }
  @media screen and (max-width: 750px) {
    .about {
      padding: 0.5rem;
      font-size: 0.8rem; } }
  .about__intro {
    padding: 2rem; }
    @media screen and (max-width: 900px) {
      .about__intro {
        padding: 1rem; } }
    @media screen and (max-width: 750px) {
      .about__intro {
        padding: 0.5rem; } }
    .about__intro-head {
      display: flex;
      justify-content: center;
      align-items: center; }
    .about__intro-figure {
      margin: 0; }
    .about__intro-body {
      margin-top: 3rem; }
    .about__intro-text {
      font-size: inherit; }
      @supports not (shape-outside: polygon(0 0)) {
        .about__intro-text {
          text-align: left; } }
    .about__intro-link {
      text-decoration: none;
      font-size: inherit;
      color: #9c70bf;
      transition: color 0.5s; }
      .about__intro-link:hover {
        color: #662d91; }
    .about__intro-le-figure {
      shape-outside: polygon(100% 16%, 62% 17%, 41% 26%, 31% 36%, 28% 45%, 27% 54%, 27% 67%, 20% 76%, 13% 90%, 13% 100%);
      width: 30rem;
      float: right;
      margin: 8rem -2rem 2rem 8rem; }
      @media screen and (max-width: 1200px) {
        .about__intro-le-figure {
          width: 23rem;
          margin: 6rem -1rem 2rem 6rem; } }
      @media screen and (max-width: 900px) {
        .about__intro-le-figure {
          width: 60%;
          margin: 6rem -1rem 2rem 6rem; } }
      @media screen and (max-width: 750px) {
        .about__intro-le-figure {
          margin: 6rem -0.5rem 2rem 6rem; } }
      @media screen and (max-width: 450px) {
        .about__intro-le-figure {
          margin: 3rem -0.5rem 1rem 3rem; } }
      @supports not (shape-outside: polygon(0 0)) {
        .about__intro-le-figure {
          margin: -5rem -2rem 2rem 2rem;
          width: 28rem; }
          @media screen and (max-width: 1200px) {
            .about__intro-le-figure {
              width: 23rem; } }
          @media screen and (max-width: 900px) {
            .about__intro-le-figure {
              width: 60%;
              margin: -2rem -2rem 2rem 2rem; } }
          @media screen and (max-width: 750px) {
            .about__intro-le-figure {
              margin: -2rem -1rem 1rem 1rem; } }
          @media screen and (max-width: 450px) {
            .about__intro-le-figure {
              margin: -2rem -1rem 1rem 1rem; } } }
  .about__extras {
    display: flex;
    justify-content: space-around;
    margin: 2rem;
    margin-top: 1rem; }
    @media screen and (max-width: 900px) {
      .about__extras {
        margin: 0 0.5rem 0.5rem 0.5rem; } }
    @media screen and (min-width: 1350px) {
      .about__extras {
        margin-top: 3rem; } }
    .about__extras-figure {
      margin: 0;
      flex-basis: 30%;
      flex-shrink: 0; }
    .about__extras-img {
      margin: 0 auto; }
    .about__extras-info {
      flex-shrink: 1;
      flex-basis: 60%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
  .about__asseenon-images {
    display: grid;
    grid-template-columns: repeat(8, minmax(min-content, 1fr));
    grid-template-rows: repeat(3, min-content);
    grid-column-gap: 1rem;
    align-items: center;
    justify-items: center; }
  .about__asseenon-logos {
    width: 90%;
    grid-column: span 2; }
    .about__asseenon-logos:nth-child(5) {
      grid-column: 2 / span 2; }
    .about__asseenon-logos:nth-child(1), .about__asseenon-logos:nth-child(5), .about__asseenon-logos:nth-child(7) {
      width: 70%; }
  .about__articles {
    margin-top: 1rem; }
    @media screen and (max-width: 900px) {
      .about__articles--large-screens {
        display: none; } }
    .about__articles-list {
      margin: 0; }
      @media screen and (max-width: 900px) and (min-width: 600px) {
        .about__articles-list {
          margin-left: 4rem; } }
    .about__articles-item {
      list-style: none;
      padding: 0.4rem 0; }
    .about__articles-link {
      text-decoration: none;
      font-size: inherit;
      color: #9c70bf;
      transition: color 0.5s; }
      @media screen and (max-width: 450px) {
        .about__articles-link {
          font-size: 0.7rem; } }
      .about__articles-link::before {
        content: "\003e";
        color: #9c70bf;
        display: inline-block;
        transform: translateX(-1rem);
        transition: transform 0.5s; }
      .about__articles-link:hover {
        color: #662d91; }
      .about__articles-link:hover::before {
        color: #662d91;
        transform: translateX(-0.5rem); }
