//Grid Layout
@import "grid/grid";

// Colors
$color-primary-extra-light: #9c70bf;
$color-primary-light: #7a46a2;
$color-primary: #662d91;
$color-primary-dark: #50197a;
$color-primary-extra-dark: #3b0961;

$color-secondary-light: #e9b95c;
$color-secondary: #d09b36;
$color-secondary-dark: #ad7a1a;

$color-icons-light: #fbf2a2;
$color-icons-dark-top: #a68950;
$color-icons-dark-bottom: #b5a273;

$color-gray-extra-light: rgba(#000, 0.2);
$color-gray-light: rgba(#000, 0.4);
$color-gray-medium: rgba(#000, 0.6);
$color-gray-dark: rgba(#000, 0.8);

//Mixins
@mixin borderPurple {
  border-image: linear-gradient(
      to right bottom,
      $color-primary-extra-light,
      $color-primary,
      $color-primary-extra-dark
    )
    1 1;
}

//Style
body {
  margin: 5rem;
  border: 5px solid $color-primary;

  @media screen and (max-width: 900px) {
    margin: 3rem;
  }
  @media screen and (max-width: 700px) {
    margin: 1rem;
  }
}

img {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

//Typography
.secondary-heading {
  font-family: "Dancing Script", cursive;
  color: $color-primary;
  font-size: 2.5rem;
  text-align: center;
  font-weight: normal;
  @media screen and (max-width: 1350px) {
    font-size: 2rem;
    margin: 1rem 0;
  }
  @media screen and (max-width: 1100px) {
    font-size: 1.6rem;
  }

  @media screen and (max-width: 750px) {
    font-size: 1.3rem;
  }

  @media screen and (max-width: 600px) {
    font-size: 1.1rem;
  }
}

//Responsiveness
.tablets {
  display: none;
  @media screen and (max-width: 900px) {
    display: unset;
  }
}

//About Page
.about {
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  text-align: justify;

  @media screen and (min-width: 1450px) {
    font-size: 1.5rem;
  }
  @media screen and (min-width: 1800px) {
    font-size: 1.8rem;
  }
  @media screen and (max-width: 1000px) {
    font-size: 1rem;
  }
  @media screen and (max-width: 900px) {
    padding: 0.9rem;
  }
  @media screen and (max-width: 750px) {
    padding: 0.5rem;
    font-size: 0.8rem;
  }

  &__intro {
    padding: 2rem;

    @media screen and (max-width: 900px) {
      padding: 1rem;
    }
    @media screen and (max-width: 750px) {
      padding: 0.5rem;
    }

    &-head {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &-figure {
      margin: 0;
      width: 50%;
    }

    &-body {
      margin-top: 3rem;
      @media screen and (max-width: 750px) {
        margin-top: 2rem;
      }
      @media screen and (max-width: 550px) {
        margin-top: 1rem;
      }
    }

    &-text {
      font-size: inherit;
      text-align: left;

      @supports (shape-outside: polygon(0 0)) or (-webkit-shape-outside: polygon(0 0)) {
        text-align: justify;
        word-wrap: break-word;
        hyphens: auto;
      }
    }
    &-link {
      text-decoration: none;
      font-size: inherit;
      color: $color-primary-extra-light;
      transition: color 0.5s;

      &:hover {
        color: $color-primary;
      }
    }

    &-le-figure {
      float: right;
      margin: -3rem -2rem 2rem 2rem;
      width: 28rem;

      @media screen and (max-width: 1200px) {
        width: 23rem;
      }
      @media screen and (max-width: 900px) {
        width: 60%;
        margin: -2rem -2rem 2rem 2rem;
      }
      @media screen and (max-width: 750px) {
        margin: -2rem -1rem 1rem 1rem;
      }
      @media screen and (max-width: 450px) {
        margin: -2rem -1rem 1rem 1rem;
      }
      @supports (shape-outside: polygon(0 0)) or (-webkit-shape-outside: polygon(0 0)) {
        shape-outside: polygon(
          100% -16%,
          50% -3%,
          48% 0%,
          37% 10%,
          32% 21%,
          29% 39%,
          28% 53%,
          30% 59%,
          23% 62%,
          18% 72%,
          15% 93%,
          16% 100%
        );
        width: 30rem;
        margin: -5rem -2rem 1rem 7rem;

        @media screen and (max-width: 1200px) {
          width: 23rem;
          margin: -4rem -1rem 1rem 12%;
        }
        @media screen and (max-width: 900px) {
          width: 57%;
          margin: -3rem -1rem 1rem 12%;
        }
      }
    }
  }

  &__extras {
    margin: 0;
    margin-top: 3rem;
    padding: 0 5rem;

    @supports (display: grid) or (display: -ms-grid) {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 2rem;
      margin-top: 1rem;
      padding: 0;
      @media screen and (min-width: 1350px) {
        margin-top: 3rem;
      }
      @media screen and (max-width: 900px) {
        margin: 1rem 0.5rem 0.5rem 0.5rem;
      }
    }
    &-figure {
      margin: 0;
      @media screen and (max-width: 750px) {
        min-width: 4rem;
      }
      @media screen and (max-width: 550px) {
        min-width: 2rem;
      }
      @supports (display: grid) or (display: -ms-grid) {
        margin: 0;
        flex-basis: 30%;
        flex-shrink: 0;
        @media screen and (max-width: 750px) {
          min-width: 100%;
        }
        @media screen and (max-width: 600px) {
          min-width: 5rem;
        }
      }
    }
    &-img {
      width: 110%;
      @media screen and (max-width: 1100px) {
        width: 130%;
      }
      @media screen and (max-width: 750px) {
        width: 160%;
        margin-left: -3rem;
      }

      @supports (display: grid) or (display: -ms-grid) {
        margin: 0 auto;
        width: 100%;
      }
    }
    &-info {
      margin-top: 15%;
      @media screen and (max-width: 750px) {
        margin-top: 25%;
        min-width: 130%;
      }

      @supports (display: grid) or (display: -ms-grid) {
        flex-shrink: 1;
        flex-basis: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0;
        min-width: 100%;

        @media screen and (max-width: 500px) {
          margin-left: 1.5rem;
        }
        @media screen and (max-width: 400px) {
          margin-left: 3rem;
        }
      }
    }
  }

  &__asseenon {
    &-images {
      padding: 1rem 10%;

      @media screen and (max-width: 900px) {
        padding: 1rem 0;
      }

      @supports (display: grid) or (display: -ms-grid) {
        display: grid;
        grid-template-columns: repeat(8, minmax(min-content, 1fr));
        grid-template-rows: repeat(3, min-content);
        grid-column-gap: 1rem;
        align-items: center;
        justify-items: center;

        padding: 0;
      }
    }

    &-logos {
      width: 20%;
      margin: 0.5rem;

      &:nth-child(1),
      &:nth-child(5),
      &:nth-child(7) {
        width: 15%;
      }
      &:nth-child(5) {
        margin-left: 15%;
      }
      &:nth-child(7) {
        margin-right: 15%;
      }
      &:nth-child(6) {
        margin-bottom: 5%;
      }
      &:nth-child(8),
      &:nth-child(9),
      &:nth-child(10),
      &:nth-child(11) {
        margin: 2%;
      }
      &:nth-child(8) {
        @media screen and (max-width: 1200px) {
          margin-left: 0;
        }
      }

      @media screen and (max-width: 950px) {
        margin: 0;
      }

      @supports (display: grid) or (display: -ms-grid) {
        width: 90%;
        margin: 0;
        grid-column: span 2;
        &:nth-child(5) {
          grid-column: 2 / span 2;
        }

        &:nth-child(1),
        &:nth-child(5),
        &:nth-child(7) {
          width: 70%;
        }
      }
    }
  }

  &__articles {
    margin-top: 1rem;
    &--large-screens {
      @media screen and (max-width: 900px) {
        display: none;
      }
    }
    &-list {
      margin: 0;

      @media screen and (max-width: 400px) {
        padding-left: 1rem;
      }
    }

    &-item {
      list-style: none;
      padding: 0.4rem 0;
    }

    &-link {
      text-decoration: none;
      font-size: inherit;
      color: $color-primary-extra-light;
      transition: color 0.5s;

      @media screen and (max-width: 1200px) {
        font-size: 1rem;
      }
      @media screen and (max-width: 950px) {
        font-size: 0.9rem;
      }
      @media screen and (max-width: 600px) {
        font-size: 0.7rem;
      }

      &::before {
        content: "\003e";
        color: $color-primary-extra-light;
        display: inline-block; //Inline el do not transform.
        transform: translateX(-1rem);
        transition: transform 0.5s;
      }

      &:hover {
        color: $color-primary;
      }
      &:hover::before {
        color: $color-primary;
        transform: translateX(-0.5rem);
      }
    }
  }
}

// &__extras {
//     display: flex;
//     justify-content: space-around;
//     margin: 2rem;
//     margin-top: 1rem;
//     @media screen and (min-width: 1350px) {
//       margin-top: 3rem;
//     }
//     @media screen and (max-width: 900px) {
//       margin: 1rem 0.5rem 0.5rem 0.5rem;
//     }

//     &-figure {
//       margin: 0;
//       flex-basis: 30%;
//       flex-shrink: 0;
//     }
//     &-img {
//       margin: 0 auto;
//     }
//     &-info {
//       flex-shrink: 1;
//       flex-basis: 60%;
//       display: flex;
//       flex-direction: column;
//       justify-content: center;
//       align-items: center;
//     }
//   }

//   &__asseenon {
//     &-images {
//       @supports (display: grid) {
//         display: grid;
//         grid-template-columns: repeat(8, minmax(min-content, 1fr));
//         grid-template-rows: repeat(3, min-content);
//         grid-column-gap: 1rem;
//         align-items: center;
//         justify-items: center;
//       }
//     }
//     &-logos {
//       height: auto;
//       width: 20%;
//       display: unset;
//       margin: 0.3rem;

//       @supports (display: grid) {
//         width: 90%;
//         grid-column: span 2;
//         &:nth-child(5) {
//           grid-column: 2 / span 2;
//         }

//         &:nth-child(1),
//         &:nth-child(5),
//         &:nth-child(7) {
//           width: 70%;
//         }
//       }
//     }
//   }

//   &__articles {
//     margin-top: 1rem;
//     &--large-screens {
//       @media screen and (max-width: 900px) {
//         display: none;
//       }
//     }
//     &-list {
//       margin: 0;
//       @media screen and (max-width: 900px) and (min-width: 600px) {
//         margin-left: 4rem;
//       }
//       @media screen and (max-width: 400px) {
//         padding-left: 1rem;
//       }
//     }

//     &-item {
//       list-style: none;
//       padding: 0.4rem 0;
//     }

//     &-link {
//       text-decoration: none;
//       font-size: inherit;
//       color: $color-primary-extra-light;
//       transition: color 0.5s;

//       @media screen and (max-width: 450px) {
//         font-size: 0.7rem;
//       }

//       &::before {
//         content: "\003e";
//         color: $color-primary-extra-light;
//         display: inline-block; //Inline el do not transform.
//         transform: translateX(-1rem);
//         transition: transform 0.5s;
//       }

//       &:hover {
//         color: $color-primary;
//       }
//       &:hover::before {
//         color: $color-primary;
//         transform: translateX(-0.5rem);
//       }
//     }
//   }
