.whois {
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-extra-light, 0.6),
      rgba($color-primary, 0.6),
      rgba($color-primary-extra-dark, 0.6)
    ),
    url(../img/background-nyc.jpg);
  // height: 60rem;
  background-size: cover;
  background-position: bottom;

  &__figure {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    z-index: 1;

    &::before {
      content: "";
      width: 80%;
      height: 80%;
      background: rgba(#fff, 0.6);
      box-shadow: 0 0 2rem $color-gray-extra-light;
      @include absoluteCenter;
      // position: absolute;
      // top: 0%;
      // left: 0%;
      z-index: 2;
      border-width: 5px;
      border-style: solid;
      @include borderGold;
    }
    &::after {
      content: "";
      width: 75%;
      height: 70%;
      background: rgba(#fff, 0.6);
      box-shadow: 0 0 2rem $color-gray-extra-light;
      @include absoluteCenter;
      z-index: 2;
      border-width: 5px;
      border-style: solid;
      @include borderGold;
    }
  }

  &__container {
    width: 70%;
    margin: 18rem auto;
    background: rgba(#fff, 0.6);
    padding: 7rem;
    box-shadow: 0 0 2rem $color-gray-extra-light;
    z-index: 3;
    border-width: 5px;
    border-style: solid;
    @include borderGold;
  }

  &__border {
    background: #fff;
    box-shadow: 0 0 2rem $color-gray-extra-light;
    border-width: 5px;
    border-style: solid;
    @include borderGold;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
  }

  &__image {
    width: 40%;
    padding: 1rem 0 0 1rem;
  }

  &__caption-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    // padding: 2rem;
    // flex: 0 0 30%;
  }

  &__caption-title {
    font-size: 5.5rem;
    text-align: center;
    @include textGold;
  }
  &__caption-text {
    font-size: 2rem;
    text-align: center;
    color: $color-primary;
    font-weight: 300;
    margin: 3rem 0;
    padding: 0 5rem;
  }

  &__link {
    text-decoration: none;

    padding: 2rem 4rem;
    height: 5rem;
    width: 13rem;
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 1rem rgba($color-primary-extra-light, 0.4);

    // &:hover::before {
    //   transform-origin: left top;
    //   transform: rotate(-180deg) translate(-50%, -50%);
    // }

    &::before {
      content: "";
      @include absoluteCenter;
      height: 200%;
      width: 200%;
      display: block;
      @include backgroundGold;
      transform: rotate(0deg) translate(-50%, -50%);

      transition: 1s;
    }
    &-p {
      text-transform: uppercase;
      color: $color-primary;
      font-weight: 300;
      font-size: 1.5rem;
      width: 100%;
      line-height: 5rem;
      text-align: center;
      @include absoluteCenter;
      // box-shadow: inset 1px 0px 0 1px $color-icons-dark-bottom,
      //   inset 0px 1px 0 1px $color-icons-dark-top,
      //   inset -1px -1px 0 1px $color-icons-dark-top;
    }
  }
}
