.golden-button {
  text-decoration: none;

  padding: 2rem 4rem;
  height: 5rem;
  width: 13rem;
  display: block;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 1rem rgba($color-primary-extra-light, 0.4);

  // &:hover::before {
  //   transform-origin: left top;
  //   transform: rotate(-180deg) translate(-50%, -50%);
  // }

  &::before {
    content: "";
    @include absoluteCenter;
    height: 200%;
    width: 200%;
    display: block;
    @include backgroundGold;
    transform: rotate(0deg) translate(-50%, -50%);

    transition: 1s;
  }
  &__p {
    text-transform: uppercase;
    color: $color-primary;
    font-weight: 300;
    font-size: 1.5rem;
    width: 100%;
    line-height: 5rem;
    text-align: center;
    @include absoluteCenter;
    // box-shadow: inset 1px 0px 0 1px $color-icons-dark-bottom,
    //   inset 0px 1px 0 1px $color-icons-dark-top,
    //   inset -1px -1px 0 1px $color-icons-dark-top;
  }
}
