/* 
    #662d91 Main Color
    #d4af37 Text Color
    #efca7c Social Icons Light
    #c29e59 Social Icons Dark
    #fff49d Logo Light
    #9a7d47 Logo Dark
*/

// Colors
$color-primary-extra-light: #9c70bf;
$color-primary-light: #7a46a2;
$color-primary: #662d91;
$color-primary-dark: #50197a;
$color-primary-extra-dark: #3b0961;

$color-secondary-light: #e9b95c;
$color-secondary: #d09b36;
$color-secondary-dark: #ad7a1a;

$color-icons-light: #fbf2a2;
$color-icons-dark-top: #a68950;
$color-icons-dark-bottom: #b5a273;

//Reset
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
  font-family: "Roboto", sans-serif;
}

body {
  box-sizing: border-box;
}
