@mixin textGold {
  background-image: linear-gradient(
    to bottom right,
    $color-icons-dark-top,
    $color-icons-light,
    $color-icons-dark-bottom
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@mixin backgroundGold {
  background-image: linear-gradient(
    to bottom right,
    $color-icons-dark-top,
    $color-icons-light,
    $color-icons-dark-bottom
  );
}

// @function borderGold($i1, $i2) {
//   @return linear-gradient(
//       to right bottom,
//       $color-icons-dark-top,
//       $color-icons-light,
//       $color-icons-dark-bottom
//     )
//     $i1 $i2;
// }

@mixin borderGold {
  border-image: linear-gradient(
      to right bottom,
      $color-icons-dark-top,
      $color-icons-light,
      $color-icons-dark-bottom
    )
    1 1;
}
@mixin borderPurple {
  border-image: linear-gradient(
      to right bottom,
      $color-primary-extra-light,
      $color-primary,
      $color-primary-extra-dark
    )
    1 1;
}

@mixin absoluteCenter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
