.whois {
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-extra-light, 0.6),
      rgba($color-primary, 0.6),
      rgba($color-primary-extra-dark, 0.6)
    ),
    url(../img/background-nyc.jpg);
  // height: 60rem;
  background-size: cover;
  background-position: bottom;

  &__figure {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__image {
    border-width: 5px;
    border-style: solid;
    @include borderGold;

    &-container {
      // flex: 0 0 35%;
      padding: 2rem;
      margin: 15rem 5rem;
      margin-right: 0;
      background: #fff;
      box-shadow: 0 0 2rem $color-gray-extra-light;
      display: flex;
    }
  }

  &__caption-container {
    flex: 0 0 40%;
    padding: 2rem;
    margin-left: -9rem;
    background: #fff;
    box-shadow: 0 0 2rem $color-gray-extra-light;
  }

  &__caption-group {
    border-width: 5px;
    border-style: solid;
    @include borderGold;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }

  &__caption-title {
    font-size: 5.5rem;
    text-align: center;
    @include textGold;
  }
  &__caption-text {
    font-size: 2rem;
    text-align: center;
    color: $color-primary;
    font-weight: 300;
    margin: 3rem 0;
    padding: 0 5rem;
  }
}
